{% import "macros.html" as macros %}

<!DOCTYPE html>
{%block lang%}
<html lang="{{ lang }}">
{%endblock lang%}

<head>
  {% block head %}
  <meta charset="utf-8">
  <title>Michał Wdowski</title>
  {% endblock head %}
  {% block css %}
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
  <link rel="stylesheet" href="{{ get_url(path='custom.css') | safe }}">
  {% endblock css %}
</head>

<body>
  {% block header %}
  <header>
    <nav>
      <a class="button" {% if lang=="pl-PL" %} href="/pl-PL" {% else %} href="/" {% endif %}>
        {{trans(key="mainpage", lang=lang)}}</a>
      <a class="button" {% if lang=="pl-PL" %} href="/pl-PL/university" {% else %} href="/university" {% endif %}>
        {{trans(key="university", lang=lang)}}</a>
      <a class="button" {% if lang=="pl-PL" %} href="/pl-PL/projects" {% else %} href="/projects" {% endif %} style="pointer-events: none">
        {{trans(key="projects", lang=lang)}}</a>

    </nav>
    <div style="display: inline-block; margin: auto 1rem auto 0; position: relative;">
      {{macros::language_switcher2()}}
    </div>
  </header>
  {% endblock header %}

  <div class="section">
    <div class="container">
      {% block content %}
      {% endblock content%}
    </div>
  </div>

  {% block footer %}
  <footer>
    &copy; Copyright {{now() | date(format="%Y")}} by
    <a {% if lang=="pl-PL" %} href="/pl-PL" {% else %} href="/" {% endif %}>
      Michał Wdowski</a>.
  </footer>
  {% endblock footer %}

</body>

</html>