{% macro language_switcher() %}
<script>
  function isPolish() {
    return !window.location.pathname.startsWith("/pl-PL");
  }
  function polish() {
    if (isPolish()) {
      window.location.pathname = "pl-PL" + window.location.pathname;
    }
  }
  function english() {
    if (!isPolish()) {
      window.location.pathname = window.location.pathname.substring(6);
    }
  }
</script>
<div onload="setLanguage()">
  <div class="language" role="radiogroup">
    <div class="language__container--left">
      <input class="language__control" type="radio" id="language1-1" name="language-switch1" onclick="polish()" {% if
        lang=="pl-PL" %} checked {% endif%}>
      <label class="language__label" for="language1-1">
        &#127477&#127473 PL
      </label>
    </div>
    <div class="language__container--right">
      <input class="language__control" type="radio" id="language1-2" name="language-switch1" onclick="english()" {% if
        lang !="pl-PL" %} checked {% endif%}>
      <label class="language__label" for="language1-2">
        &#127468&#127463 EN
      </label>
    </div>
  </div>
</div>
{% endmacro %}

{% macro language_switcher2() %}
<script>
  function isPolish() {
    return !window.location.pathname.startsWith("/pl-PL");
  }
  function polish() {
    if (isPolish()) {
      window.location.pathname = "pl-PL" + window.location.pathname;
    }
  }
  function english() {
    if (!isPolish()) {
      window.location.pathname = window.location.pathname.substring(6);
    }
  }
</script>

<style>

  .language-switcher {
    display: flex;
    flex-direction: row;
  }

  .language-control {
    visibility: hidden;
    display: none;
  }

  .language-container-left {
    border-radius: 5px 0 0 5px;
  }

  .language-container-right {
    border-left: 0;
    border-radius:  0 5px 5px 0;
  }

  .language-container-left,
  .language-container-right {
    border: 2px solid;
    border-color: var(--accent);
    cursor: pointer;
    width: 4em;
  }

  .language-label {
    text-align: center;
    padding: 0.25em 0.5em;
  }

  .language-container-left:hover,
  .language-container-right:hover,
  .language-container-left:has(.language-control:checked),
  .language-container-right:has(.language-control:checked) {
    border: 2px solid;
    border-color: var(--accent);
    cursor: pointer;
    width: 4em;
    background-color: var(--accent);
    color: var(--accent-text);

  }
</style>
<div onload="setLanguage()" class="language-switcher" style="" role="radiogroup">
  <div class="language-container-left">
    <input class="language-control" type="radio" id="language1-1" name="language-switch1" onclick="polish()" {% if
      lang=="pl-PL" %} checked {% endif%}/>
    <label class="language-label" for="language1-1">
      &#127477&#127473 PL
    </label>
  </div>
  <div class="language-container-right">
    <input class="language-control" type="radio" id="language1-2" name="language-switch1" onclick="english()" {% if lang
      !="pl-PL" %} checked {% endif%}/>
    <label class="language-label" for="language1-2">
      &#127468&#127463 EN
    </label>
  </div>
</div>
</div>
{% endmacro %}